[submodule "ext/Pangolin"]
	path = ext/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "ext/argparse"]
	path = ext/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "ext/opencv"]
	path = ext/opencv
	url = https://github.com/opencv/opencv.git
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/g2o"]
	path = ext/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "ext/pcl"]
	path = ext/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
